.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #866e6e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(2, 1, 2);
}
#div2{
  width: 100wh;
  height: 60vh;
  display: flex;
  flex-direction:column;
  justify-content: left;
  align-items: center;
  background-color: rgb(19, 19, 20);
  border-radius: 10%;
  /* padding: 5%; */

 margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  background-image: linear-gradient(27deg,hsla(0, 4%, 15%, 0.922) 50%,hsl(0, 0%, 2%) 50%);
  box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px px rgba(0,0,0,0.24);
  
 
  border-style: double;
  border-color: rgb(143, 250, 35);
   
  border-width: 0.3cm;
  
}
/* @media screen and(min-width:480px ) {
  textarea{
    color: blue;
          rows:"4";
          cols:"20";
}} */
/* #div2{
  border-radius: 10%;
  padding: 5%;
width: 320px;
    height:380px;
    position:absolute;
    top:50%;
    left:50%;
    border-style: double;
    border-color: rgb(143, 250, 35);
    border-width: 0.3cm;
    transform:translate(-50%,-50%);
    background-image: linear-gradient(27deg,hsla(0, 0%, 2%, 0.922) 50%,hsl(0, 0%, 2%) 50%);
    box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px px rgba(0,0,0,0.24);
} */
button{
  background-color: "rgb(143, 250, 35)" ;
}
nav{
  height: 90px;
  background-color: rgb(126, 248, 110);
 
}
#main{
  border-style:groove;
  border-color: rgb(28, 34, 22);
  background-color: #2d2f31;
   margin-bottom: 1%;
  border-width: 0.1cm;

}

